In [1]:
print("hello world")

hello world

In [2]:
print("aditya siddharth jyoti")

aditya siddharth jyoti

In [3]:
"premlatha"

'premlatha'

In [6]:
Print("adi")

NameError: name 'Print' is not defined

### python is case sensitive . If fuction is in small letters , then writting in small letter will create name error

In [8]:
print(10)

10

In [9]:
print(aditya)

NameError: name 'aditya' is not defined

### A string should always be enclosed inside inverted comma ' ' or " "

# DATA TYPES

In [19]:
x = 10
y = 11.2
z = "adi"
a = type(x)
b = type(y)
c = type(z)
print(a,b,c)

<class 'int'> <class 'float'> <class 'str'>

# VARIABLES

In [20]:
coursenames = "DS" , "AI" , "ML" # while naming the only allowed special underscor (_)
type(coursenames)

tuple

In [22]:
course_names = "DS" , "AI" , "ML"
course_names # while naming the only allowed special underscor (_)

('DS', 'AI', 'ML')

In [23]:
course_names3 = "DS" , "AI" , "ML"
course_names3 # naming should not start with number . it should start with either A to Z or a to z or underscore(_)

('DS', 'AI', 'ML')